
:root {
    --back-color: #FFFFFF;
    --logo-color:#4d5ae5;
    --logo-decoration:#2e2f42;
}
body{
    color: #434455;
    font-family: 'Roboto', sans-serif;
    background-color: var(--back-color);
}
/* header */
    /* nav */
.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
}
.header_logo_decoration{
    color: var(--logo-decoration);
}

.list{
    list-style: none;
}
.nav_item_style{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--logo-decoration);
}
.nav_item_style:hover, .nav_item_style:focus{
    color: #404bbf;
}
.header_addres_style{
    font-style: normal;
    
}
/* footer */
.footer_style{
    background-color:#2e2f42;
}

.link{
    text-decoration: none;
}
.footer_logo_decoration{
    color: #f4f4fd
}