:root {
    --white: #FFFFFF;
    --light-blue: #4d5ae5;
    --dark-purple: #2e2f42;
    --blue-violet:#404BBF;
    --blue-gray: #434455;
    --pale-purple: #F4F4FD;
}

body {
    color: var(--blue-gray);
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
}

/* additional basic */
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* logo */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-blue);
}
    /* logo-decoration */
.header_logo_decoration {
    color: var(--dark-purple);
}
.footer_logo_decoration {
    color: var(--pale-purple);
}

/* header */
    /* nav */
.nav_item_style {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-purple);
}

.nav_item_style:hover,
.nav_item_style:focus {
    color: var(--blue-violet);
}

    /* addres */
.header_addres_style {
    font-style: normal;
}

.addres_item {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--blue-gray);
}

.addres_item:hover,
.addres_item:focus {
    color: var(--blue-violet);
}

/* content */
.section_title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--dark-purple);
}

.content_titles {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-purple);
}

.descriptions {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--blue-gray);
}

/* index */
    /* hero */
.hero {
    background-color: var(--dark-purple);
}

.motto {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white);
}

.order_button {
    background-color: var(--light-blue);
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white);
    cursor: pointer;
}

.order_button:hover,
.order_button:focus {
    background-color: var(--blue-violet);
}

    /* team section*/
.team {
    background-color: var(--pale-purple);
}

.team_content {
    background-color: var(--white);
}


/* portfolio */
    /* filters */
.filter_contol {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--light-blue);
    background-color: var(--pale-purple);
    cursor: pointer;
}

.filter_contol:hover,
.filter_contol:focus {
    color: var(--white);
    background-color: var(--blue-violet);
}

/* footer */
.footer_style {
    background-color: var(--dark-purple);
}

.footer_style p{
    color: var(--pale-purple);
    font-weight: 400;
}