
:root {
    --back-color: #FFFFFF;
    --logo-color:#4d5ae5;
    --logo-decoration:#2e2f42;
    --addres-item-color: #434455;
}
body{
    color: #434455;
    font-family: 'Roboto', sans-serif;
    background-color: var(--back-color);
}

/* additional basic */
.list {
    list-style: none;
}

.link {
    text-decoration: none;
}
/* logo */
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
}

/* header */
.header_logo_decoration {
    color: var(--logo-decoration);
}

    /* nav */
.nav_item_style{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--logo-decoration);
}
.nav_item_style:hover, .nav_item_style:focus{
    color: #404bbf;
}
    /* addres */
.header_addres_style{
    font-style: normal;
}
.addres_item{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--addres-item-color);
}
.addres_item:hover, .addres_item:focus{
    color: #404bbf;
}

/* content */


/* index */
.section_title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--logo-decoration);
}
    /* hero */
.index_hero{
    background-color: var(--logo-decoration);
}
.motto{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.order_button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.order_button:hover, .order_button:focus{
    background-color: #404BBF;
}
    /* about */
.titles{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--logo-decoration);
}
.contents{
    line-height: 1.5;
    letter-spacing: 0.02em;
}
    /* team */
.team{
    background-color: #F4F4FD;
}
.team_title{
    letter-spacing: 0.02em
}
.team_content{
    background-color: #FFFFFF;
}


/* portfolio */


/* footer */
.footer_style{
    background-color:#2e2f42;
}
.footer_logo_decoration{
    color: #f4f4fd
}